.scheduleSettingsContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.header h3 {
  margin: 0;
  color: #333;
}

.scheduleList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dayRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px dashed #eee;
}

.dayRow:last-child {
  border-bottom: none;
}

.dayName {
  flex-basis: 120px;
  font-weight: bold;
  color: #555;
}

.timeInputs {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  max-width: 250px;
}

.timeInput {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 90px;
}


.timeInput:disabled {
  background-color: #f0f0f0;
  color: #999;
}

.timeInputs span {
  color: #777;
}

.activeToggle input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;

  position: relative;
  cursor: pointer;

  margin: 0 8px 0 0; /* Exemplo de margem direita para separar do label/texto */
  vertical-align: middle;
}

.activeToggle input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px #35047a;
}
.activeToggle input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #6200ee; /* cor do “ponto” interno quando marcado */
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.1s ease-in-out;
}

.activeToggle input[type="checkbox"]:checked::after {
  transform: translate(-50%, -50%) scale(1);
}

.saveButton {
  
  align-self: flex-start;
  padding: 8px 12px;
  background-color: #9b5de5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.saveButton:hover {
  background-color:#7a3fcf;;
}

.errorMessage {
  background-color: #ffe6e6;
  color: #e50000;
  border: 1px solid #e50000;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.saveMessage {
  background-color: #e6ffe6;
  color: #008000;
  border: 1px solid #008000;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .dayRow {
    flex-direction: column;
    align-items: flex-start;
  }
  .dayName {
    margin-bottom: 5px;
  }
  .timeInputs {
    width: 100%;
    justify-content: flex-start;
  }
}