.sidebarWrapper {
    padding: 10px;
  }
  
  .sidebar {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    overflow: hidden;
    border: 1px solid #eee;
  }
  
  .expanded {
    width: 220px;
  }
  
  .collapsed {
    width: 60px;
    align-items: center;
  }
  
  .logo {
    background-color: #a678e2;
    padding: 1rem;
    display: flex;
    align-items: center;
    color: white;
    white-space: nowrap;
    transition: all 0.3s ease;
  }
  
  .logoImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
  }
  
  .logoText {
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 0.5rem;
    align-items: flex-start;
  }
  
  .menuItem {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    margin: 0 1rem;
    border-radius: 8px;
    color: #6b21a8;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .menuItem:hover {
    background-color: #a678e2;
    color: white;
    width: 70%;
  }
  
  .icon {
    font-size: 1.2rem;
    min-width: 24px;
  }
  
  .label {
    margin-left: 10px;
    white-space: nowrap;
  }
  
  .profile {
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  
  .profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #a678e2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .profileName {
    margin-left: 0.75rem;
    font-size: 0.85rem;
    font-weight: 500;
    color: #333;
  }
  