.page {
    display: flex;
    height: 100vh;
    background-color: #f4f4f8;
    overflow: hidden;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
  }
  
  .topBar {
    height: 24px;
    background-color: #9b5de5;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .formContainer {
    background-color: white;
    margin: 20px auto;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .avatarSection {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #b388eb;
  }
  
  
  .cameraIcon{
    color:#9b5de5
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .row > div {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
  }
  
  input[type="text"],
  input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    background-color: #fafafa;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #b388eb;
    outline: none;
  }
  
  .radioGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .radioGroup div {
    display: flex;
    gap: 20px;
  }
  
  .radioGroup label {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 30px;
  }
  
  .cancelBtn,
  .saveBtn {
    background-color: #c084fc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .cancelBtn {
    background-color: #ddd;
    color: #333;
  }
  
  .saveBtn {
    background-color: #c084fc;
    color: white;
  }
  
  .saveBtn :hover{
    background-color: gray;
  }