
.appContainer {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dashboardTopBar {
 
  height: 60px;
  background-color: #9b5de5;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px; 
}

.dashboardTitle {
    font-size: 1.5em;
    margin: 0; 
    font-weight: bold;
    color: white;
    flex-grow: 1; 
    text-align: center; 
}

.logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* tamanho do ícone */
  color: #ffffff; /* cor do ícone */
  padding: 0;
  display: flex; /* Use flex para centralizar o ícone dentro do botão */
  align-items: center;
  justify-content: center;
  width: 40px; /* Largura para o botão */
  height: 40px; /* Altura para o botão */
  border-radius: 50%; /* Para deixá-lo redondo */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave ao hover */
  margin-left: 20px;
}

.logoutButton::before {
  content: "\f011";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.logoutButton:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}


.gridArea {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px;
    padding: 20px;
    flex-grow: 1; 
    overflow-y: auto; 
}